
<nav class="navbar bg-dark" data-bs-theme="dark">
 <h6 style color="white" > Hello </h6>
</nav>

<nav class="navbar bg-primary" data-bs-theme="dark">
 Hi
</nav>

<nav class="navbar" style="background-color: #e3f2fd;">
 Byebye
</nav>